{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container" style="background-color:#ffffff;width:400px;margin-top:130px;height:700px;background-color:#1CC7D0;opacity:0.5;" >

    <div ><img src="{% static 'images/internadmin.png' %}" alt="" style="border-radius: 60%;align:center;margin-top:40px;margin-left:-24px;height:350px;"></div>
    <div style="margin-top:20px;margin-left:30px;">

      {% ifequal request.user.groups.all.0.name "status_create" %}

      <button type="button" class="btn btn-warning" style="width:300px;"><b> <span style="font-size:30px;">only permission to create file</span></b></button>
      <br><br>
      <a href="{% url 'file_create' %}"><button type="button" class="btn btn-warning" style="width:300px;"><b> <span style="font-size:30px;">Continue</span></b></button></a>
      {% else %}
      <button type="button" class="btn btn-warning" style="width:300px;"><b> <span style="font-size:30px;">only permission to view file</span></b></button>
      <br><br>
      <a href="{% url 'file_view' %}"><button type="button" class="btn btn-warning" style="width:300px;"><b> <span style="font-size:30px;">Continue</span></b></button></a>

      {% endifequal %}


    </div>
  </div>
  {% endblock %}
